/* I'm using Open Sans and Flexbox here for the body. */
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* I find rounded corners on images visually pleasing. */
.banner img {
    border-radius: 40px;
}

/* The recipe class doesn't display upon first loading the site. */
.recipe {
    display: none;
}